<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><!--[title]--></title>

    <link rel="icon" href="/chatGameGPT/favicon.svg" type="image/svg+xml"/>

    <link rel="icon" type="image/svg+xml" sizes="192x192" href="/chatGameGPT/favicon.svg">
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="/chatGameGPT/favicon.svg">
    <link rel="icon" type="image/svg+xml" sizes="96x96" href="/chatGameGPT/favicon.svg">
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="/chatGameGPT/favicon.svg">

    <link rel="stylesheet" href="/chatGameGPT/vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link data-name="font-awesome-6" href="/chatGameGPT/vendor/fortawesome/font-awesome/css/all.min.css?v=6.5.1" rel="stylesheet">
    <link data-name="font-awesome-6" href="/chatGameGPT/public/assets/css/main.css?v=1.00" rel="stylesheet">
    <script>let gameInit = []</script>
</head>
<body>
<!--[content]-->
<footer class="mt-4">

    <div class="text-center small">
        <small>
        <a class="text-decoration-none" href="https://getbootstrap.com/docs/5.3/" target="_blank">Bootstrap 5.3 <small><sup><i class="fa fa-external-link-alt"></i></sup></small></a>
        <a class="text-decoration-none" href="https://fontawesome.com/v6/search?o=r&m=free" target="_blank">fontawesome 6.5.1 <small><sup><i class="fa fa-external-link-alt"></i></sup></small></a>
        <a class="text-decoration-none" href="https://jquery.com/" target="_blank">jQuery 1.12.4 <small><sup><i class="fa fa-external-link-alt"></i></sup></small></a>
        <a class="text-decoration-none" href="https://github.com/ollama/ollama/blob/main/docs/api.md" target="_blank">Ollama Docs <small><sup><i class="fa fa-external-link-alt"></i></sup></small></a>
        <a class="text-decoration-none" href="https://github.com/PrivateDennis/InfinityGame" target="_blank">Github Repository <small><sup><i class="fa fa-external-link-alt"></i></sup></small></a>
        </small>
    </div>

    <hr>
    <div class="text-center small mt-4">
        <small class="text-muted"><!--[credits]--></small></div>
</footer>
<script src="/chatGameGPT/vendor/components/jquery/jquery.min.js"></script>
<script src="/chatGameGPT/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/chatGameGPT/public/assets/js/main.js?v=1.00"></script>
<script>
    // call all pushed initMv functions
    $(function () {
        if ('object' === typeof gameInit) {
            $.each(gameInit, function (i, a) {
                a();
            });
        }
    });
</script>

</body>
</html>